
.idea/aks-mendix-install.iml
.idea/misc.xml
.idea/misc.xml
.idea/modules.xml
configure-standalone.yaml
configure-temp-1.yaml
configure-temp-2.yaml
demo.yaml
configure.yaml
configure-temp.yaml
tout.txt
terraform.tfstate.backup
do-diff.sh
